<a href="https://colab.research.google.com/github/curiosityr0ver/Machine-Learning-Intro/blob/main/Model3Alt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [ ]:
car_sales = pd.read_csv("car_sales_missing_extended.csv")
car_sales.head(10)
car_sales.dropna(subset = ["Price"], inplace = True)

In [ ]:
x = car_sales.drop("Price", axis = 1)
y= car_sales["Price"]

In [ ]:
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 950, dtype: float64

In [ ]:
#Filling Missing Values

In [ ]:
#For categorical data, we use missing to fill unavailable spaces, while 4 for doors and mean for Odometer
cat_imputer = SimpleImputer(strategy = "constant", fill_value = "missing")
door_imputer = SimpleImputer(strategy = "constant", fill_value = 4)
num_imputer = SimpleImputer(strategy = "mean")

#Defining columns
cat_features = ["Make", "Colour"]
door_features = ["Doors"]
num_features = ["Odometer (KM)"]

#Create an amputer (filler of missing data)
imputer = ColumnTransformer([("cat_imputer", cat_imputer, cat_features),
                             ("door_imputer", door_imputer, door_features),
                             ("num_imputer", num_imputer, num_features)
                             ])

#Transform the data
filled_X = imputer.fit_transform(x)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [ ]:
filledDF = pd.DataFrame(filled_X, columns=["Make", "Colour", "Doors", "Odometer (KM)"])
filledDF

        Make Colour Doors Odometer (KM)
0      Honda  White   4.0       35431.0
1        BMW   Blue   5.0      192714.0
2      Honda  White   4.0       84714.0
3     Toyota  White   4.0      154365.0
4     Nissan   Blue   3.0      181577.0
..       ...    ...   ...           ...
945   Toyota  Black   4.0       35820.0
946  missing  White   3.0      155144.0
947   Nissan   Blue   4.0       66604.0
948    Honda  White   4.0      215883.0
949   Toyota   Blue   4.0      248360.0

[950 rows x 4 columns]

In [ ]:
#check if there is any missing data
filledDF.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [ ]:
#Categorical to numerical
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

cat_feat = ["Make", "Colour"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", one_hot, cat_feat)], remainder = "passthrough")

fin_x = transformer.fit_transform(filledDF)

In [ ]:
#Obtaining test and train data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(fin_x, y, test_size = 0.2)

In [ ]:
#Fitting Model
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor()
clf.fit(X_train, Y_train)
clf.score(X_test, Y_test)

0.27173042346928244

In [ ]:
Y_preds = clf.predict(fin_x)
Y_preds