<a href="https://colab.research.google.com/github/curiosityr0ver/Machine-Learning-Intro/blob/main/Nut_Butter_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#jars sold
np.random.seed(0)
sales = np.random.randint(20, size = (5,3))
sales

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [ ]:
weeklySales = pd.DataFrame(sales, index = ["Mon", "Tue", "Wed", "Thurs", "Fri"], columns = ["Almond Butter", "Peanut Butter", "Cashew Butter"])

In [ ]:
weeklySales

       Almond Butter  Peanut Butter  Cashew Butter
Mon               12             15              0
Tue                3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [ ]:
prices = np.array([10, 8, 15])
butter_prices = pd.DataFrame(np.reshape(prices, (1,3)) ,index=["Price"], columns = ["Almond Butter", "Peanut Butter", "Cashew Butter"])
butter_prices

       Almond Butter  Peanut Butter  Cashew Butter
Price             10              8             15

In [ ]:
profit = np.dot(sales, prices).reshape(5,1)

In [ ]:
weekly_profit = pd.DataFrame(profit, index = ["Mon", "Tue", "Wed", "Thurs", "Fri"], columns = ["Profit"])
weekly_profit

       Profit
Mon       240
Tue       159
Wed       512
Thurs     268
Fri       163

In [ ]:
weeklySales["Revenue"] = weekly_profit

In [ ]:
weeklySales

       Almond Butter  Peanut Butter  Cashew Butter  Revenue
Mon               12             15              0      240
Tue                3              3              7      159
Wed                9             19             18      512
Thurs              4              6             12      268
Fri                1              6              7      163