<a href="https://colab.research.google.com/github/curiosityr0ver/Machine-Learning-Intro/blob/main/SciKit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [13]:
heart = pd.read_csv("sample_data/heart-disease.csv")
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
x = heart.drop("target", axis = 1)
y = heart["target"]

In [35]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [5]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
#Choosing Model
clf = RandomForestClassifier()
clf

RandomForestClassifier()

In [8]:
#Fitting Model to Data
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2)
clf.fit(X_train, Y_train)

RandomForestClassifier()

In [9]:
#Make Prediction
Y_preds = clf.predict(X_test)
Y_preds

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1])

In [10]:
#Evaluate the model
clf.score(X_train, Y_train)
#training data

1.0

In [11]:
clf.score(X_test, Y_test)
#test data

0.8360655737704918

In [12]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test,Y_preds))

              precision    recall  f1-score   support

           0       0.82      0.75      0.78        24
           1       0.85      0.89      0.87        37

    accuracy                           0.84        61
   macro avg       0.83      0.82      0.83        61
weighted avg       0.84      0.84      0.83        61

In [16]:
confusion_matrix(Y_test, Y_preds)

array([[18,  6],
       [ 4, 33]])

In [30]:
#Improve model
np.random.seed(25)
for i in range(400, 500, 10):
    print("Trial run with", i,  "estimators.")
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(X_train, Y_train) 
    print("Accurary on test set: ", clf.score(X_test, Y_test)*100)

Trial run with 400 estimators.
Accurary on test set:  81.9672131147541
Trial run with 410 estimators.
Accurary on test set:  81.9672131147541
Trial run with 420 estimators.
Accurary on test set:  83.60655737704919
Trial run with 430 estimators.
Accurary on test set:  88.52459016393442
Trial run with 440 estimators.
Accurary on test set:  81.9672131147541
Trial run with 450 estimators.
Accurary on test set:  83.60655737704919
Trial run with 460 estimators.
Accurary on test set:  85.24590163934425
Trial run with 470 estimators.
Accurary on test set:  83.60655737704919
Trial run with 480 estimators.
Accurary on test set:  85.24590163934425
Trial run with 490 estimators.
Accurary on test set:  81.9672131147541

In [31]:
#Saving and loading our model
import pickle
pickle.dump(clf, open("rand_for_model1.pfl", "wb"))

In [33]:
loaded_model = pickle.load(open("rand_for_model1.pfl", "rb"))
loaded_model.score(X_test, Y_test)

0.819672131147541